{%- comment -%}
  This override removes the seo tag and the google-analytics tag. Essential
  headers are also defined in this file; custom-head.html is left for real
  customised ones.
{%- endcomment -%}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {%- assign title = page.title | append: " | " | append: site.title -%}
  {%- if page.description -%}
  {%- assign description = page.description | strip_html -%}
  {%- elsif page.excerpt -%}
  {%- assign description = page.excerpt | strip_html -%}
  {%- else -%}
  {%- assign description = site.description | strip_html -%}
  {%- endif -%}

  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:url" content="{{ page.url | absolute_url }}">

  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  {%- feed_meta -%}

  {%- include custom-head.html -%}

</head>
